@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --success-color: #2ECC71;
  --error-color: #E74C3C;
}

body {
  display: flex;
  background-image: url(../img/imagem.jpg);
  background-position: center ;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  min-height: 100vh;
  justify-content: space-around;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  width: 400px;
  margin: 0px 30px;
  flex: 1;
}

h2 {
  text-align: center;
  margin: 0 0 20px;
}

.form {
  padding: 30px 40px;
  
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: #777;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #F0F0F0;
  border-radius: 9px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.form-control input:focus {
  outline: 0;
  border-color: #3498DB;
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

.form-control small  {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  cursor: pointer;
  background-color: #3498DB;
  border: 2px solid #3498DB;
  border-radius: 4px;
  color: #FFF;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

.form button:hover {
  background: #3498DB80;
}

.main {
  display: flex;
  margin: 0px 50px;
  flex:2;
}

.main main {
  background: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  text-align: center;
  border-radius: 9px;
  padding: 20px;
  color: #000;
}

.main h3 {
  padding-bottom: 10px;
}


